body {
  margin: 0;
  // background-color: #29263E;
  background-color: whitesmoke;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.hero {
  /* Sizing */
  width: 100vw;
  height: 100vh;
  
  /* Flexbox stuff */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Text styles */
  color: white;
  text-align: center;

  /* Background styles */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),
    url(https://codetheweb.blog/assets/img/posts/full-image-hero/image.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}